*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-weight: 400;
    font-style: normal;
}

.raleway-font {
    font-family: "Raleway", serif;
    font-weight: 400;
    font-style: normal;
}
.margin-zero-auto{
    margin: 0 auto;
}
body{
    max-width: 1440px;
}

main{
    background-image: url(../images/bg.png);
}

.marquee{
    font-size: 1.5rem;
    color: orange;
    font-weight: bold;
    padding-top: 0.5rem;
}
.Discount{
    color: red;
    font-size: 1.875rem;
}
nav a{
    text-decoration: none;
}
.icon{
    display: none;
}
.navigation{
    align-items: center;
    margin: 1rem 0;
    gap: 11rem;
    max-width: 1160px;
}
.nav-list{
    gap: 2rem;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.logo-name{
    align-items: center;
}
.name{
    
    font-size: 2rem;
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 16px;
}
.nav-btn{
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 0.625rem 3.75rem;
    text-align: center;
    color: white;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}



